{% extends 'index.html' %}
{% block title %}Registro{% endblock %}

{% block content %} 
<div class="fixed left-0 right-0 z-50 flex items-center justify-center h-screen overflow-x-hidden overflow-y-auto top-0">
    <div class="relative w-full max-w-2x2 px-4">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <!-- Modal body -->
            <div class="p-6 space-y-6 flex flex-col items-center">
                <form method="post" enctype="multipart/form-data" class="w-full max-w-md">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-4">
                            <label for="{{ field.id_for_label }}" class="block mb-2 text-base font-medium text-gray-900">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}

                    <!-- Modal footer -->
                    <div class="flex items-center justify-center">
                        <button class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-base px-5 py-2.5 text-center" type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}